main{
    margin-left: 100px;

}

.background_nav{
    width: auto;
    height: 200px;
    background-color: white;
}

.logo_mailchimp{
    float: left;
    margin-left: 200px;
}

.separation_text{
    margin-left: 85px;
}

.titulo{
    font-size: xx-large;
}

.button_login{
    text-decoration: none;
    color:rgba(0, 0, 255, 0.79)
}

.background_form{
    border: none;
}

.email{
    margin-left: 85px;
}

.email_box{
    margin-top: 10px;
    margin-left: 85px;
}

.username{
    margin-top: 10px;
    margin-left: 85px;
}

.username_box{
    margin-top: 10px;
    margin-left: 85px;
}

.password{
    margin-top: 10px;
    margin-left: 85px;
}

.password_box{
    margin-top: 10px;
    margin-left: 85px;
}

.sign{
    margin-left: 85px;
    margin-top: 10px;
    background: none;
    font-size: 20px;
    border-color: white;
}

.form-input:valid {
    background: lightgreen;
}

.form-input:invalid {
    background: red;
}

.box_1{
    display: inline-block;
}

.list1{
    margin-left: 65px;
    list-style: circle;
    columns: 2;
}

.check_box{
    margin-top: 10px;
    margin-left: 85px;
}

.conditions{
    margin-top: 10px;
    margin-left: 85px;
}

.button{
    border-radius: none;
    background: none;
    text-decoration: none;
}

.input_box{
    width: 400px;
    height: 40px;
}