.Logo_Issuu{
    width: 50px;
    height: 50px;
}
.nav_sign{
    text-align:center;
    margin-left: 1000px;
}
.Already{
    font-size: 12px;
}
.Sign{
    color:blue;
    background: none;
    border: none;
}
.align-text{
    margin-top: 100px;
    margin-left: 100px;
}
.Google{
    width: 50px;
    height: 20px;
}
.Facebook{
    width: 100px;
}
.text{
    font-size: 20px;
}
.background_form{
    border: none;
}
.email{
    margin-left: 85px;
}
.caja_email{
    margin-top: 10px;
    margin-left: 85px;
}
.password{
    margin-top: 10px;
    margin-left: 85px;
}
.caja_password{
    margin-top: 10px;
    margin-left: 85px;
}
.check{
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 10px;
}
.button{
    margin-left: 100px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #5a585838;
    border-radius: 15px;
    border: 2px solid #5a585838;
}
.divisor{
    margin-top: 80px;
    color:#5a585838;
}
.marca_footer{
    margin-left: 50px;
    color:#5a5858a7;
}